Best communities in Pittsburgh

In [1]:
import pandas as pd

%matplotlib inline

In [7]:
data = pd.read_csv("parks.csv")
data.pivot(columns="name", values="attendance_count").head()
data.groupby("neighborhood").count()

name,Able Long Park,Albert Turk Graham Park,Alcoa Park,Allegheny Commons,Allegheny Landing Park,Allegheny Riverfront Park,Alpine Gardens Park,Alton Park,Amber Triangle,Ammon Park,...,West Penn Park,Westinghouse Park,Westwood Island,Westwood School Park,Wightman Park,Windermere Circle 1 & 2,Winters Park,Woods Run Park,Young Field Park,Zulema Park
0,Beechview,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Crawford-Roberts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,North Shore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Allegheny Center,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,North Shore,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN