Best communities in Pittsburgh

In [1]:
import pandas as pd

%matplotlib inline

In [5]:
data = pd.read_csv("parks.csv")
data.groupby("neighborhood").count()

,_id,id,name,type,maintenance_responsibility,image,council_district,ward,tract,public_works_division,pli_division,police_zone,fire_zone,latitude,longitude
neighborhood,,,,,,,,,,,,,,,
Allegheny Center,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2
Allentown,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2
Arlington,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
Banksville,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2
Bedford Dwellings,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Upper Lawrenceville,3,3,3,3,3,2,3,3,3,3,3,3,3,3,3
West End,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2
West Oakland,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
Westwood,3,3,3,3,3,0,3,3,3,3,3,3,3,3,3
Windgap,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1